/data/inventory.db
/data/sales.db
/d3dcompiler_47.dll
/ffmpeg.dll
/icudt.dll
/icudtl.dat
/libEGL.dll
/libGLESv2.dll
/nw.dll
/node.dll
/nControl.nw
/natives_blob.bin
/nw.exe
/nw.pak
/nw_100_percent.pak
/nw_200_percent.pak
/nw_elf.dll
/nw_material_100_percent.pak
/nw_material_200_percent.pak
/resources.pak
/snapshot_blob.bin
/items.db
/prefs.db
/data/prefs.db
/data/node.db
/data/items.db
/data/user.db
/file.xls
/data_old/items.db
/data_old/node.db
/data_old/prefs.db
/data_old/sales.db
/data_old/user.db
